<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rusiuoki">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rusiuoki">
        <activity
            android:name=".NotLogedFindedTrashesByWordList"
            android:exported="false" />
        <activity
            android:name=".NotLogedTrashByWordSearch"
            android:exported="false" />
        <activity
            android:name=".LogedTrashAddToDbByWord"
            android:exported="false" />
        <activity
            android:name=".NotLogedTrashTypeCutContentShow"
            android:exported="false" />
        <activity
            android:name=".NotLogedTrasTypeCutSearch"
            android:exported="false" />
        <activity
            android:name=".LogedTrashTypeCut"
            android:exported="false" />
        <activity
            android:name=".LogedEditableViewHolder"
            android:exported="false" />
        <activity
            android:name=".LogedDatabaseBarcodeList"
            android:exported="false" />
        <activity
            android:name=".WriteBarcode"
            android:exported="false" />
        <activity
            android:name=".BarcodeDataExist"
            android:exported="false" />
        <activity
            android:name=".BarCodeData"
            android:exported="false" />
        <activity
            android:name=".ChoseBarcodeScanOrWrite"
            android:exported="false" />
        <activity
            android:name=".LogedActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>